.review-component{
  width : 100%;
  p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    color : #333;
    font-weight: bolder;
  }
  .review-box{
      display: flex;
     justify-content: center;
     margin-bottom : 5px;
    margin-top: 10px;
  }
  .valueLength{
    margin-bottom : 15px;
    text-align: right;
  }
}
.ant-modal-body{
  padding: 10px 15px!important;
}